{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale =1.0 ">
        <title>ALIREZA</title>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
    </head>

    <body>
        <header  class="green-background"> 
            <p id="test">This is a test WEB </p>
            <nav>
                <ul>
                    <li>main web</li>
                    <li>about US</li>
                    <li>call ME</li>
                    <li>Exit</li>
                </ul>
            </nav>
        </header>
        
        <main>
           <section>
                <img class="img1" src="leb.jpg" >
                <div>
                    <h2>AliReza</h2>
                    <h3>web developer</h3>
                    <hr>
                </div>
           </section>
           <section id="aboutme" >
            <!-- about ME -->
                
                    <div class="info">
                        <img class="img2"src="leb2.png">
                        <h3>information conection</h3>
                        <a href="#" target="_blank">
                        <button>download rezome</button>
                        </a>
                    
                    
                        <p>AliReza.Gh</p>
                        <p>Arak</p>
                        <p>09929981687</p>
                        <a>AliReza.Ghobadi.20005@gmail.com</p>
                    </div>
                    <div id="text">
                        <h3>About Me</h3>
                        <p >
                            LeBron Raymone James Sr. (/ləˈbrɒn/; born December 30, 1984) is an American professional basketball player
                             for the Los Angeles Lakers of the National Basketball Association (NBA). 
                             Nicknamed "King James", he is widely considered one of the greatest players 
                             in NBA history and is frequently compared to Michael Jordan in debates over the greatest
                              basketball player ever.[1] The only player to have won NBA championships with three
                               franchises (the Cleveland Cavaliers, the Miami Heat, and the Lakers) as NBA Finals 
                               MVP,[2] James has competed in ten NBA Finals, eight of them consecutively with the
                                Heat and the Cavaliers from 2011 to 2018. His accomplishments include four NBA 

                        </p>
                    </div>
                
           </section >
            <hr>
           <section class="myinfo">     
            <div class="mts">
                <h4 >maharat</h4>
                    <ul >
                        <li>web developer</li>
                        <li>painter car</li>
                        <li> driver</li>
                        <li> teacher</li>
                    </ul>
            </div>
            <hr>
            <div class="mts">
                <h4 >tahsilat</h4>
                    <ul >
                        <li>physics</li>
                        <li>harvard university</li>
                        <li> ostad daneshgah</li>
                    </ul>
            </div>
            <hr>
            <div class="mts">
                <h4 id="sabeghe">sabeghe kari</h4>
                    <ul>
                        <li>emam ali 2 years</li>
                        <li>phani teacher</li>
                        <li> moshaver 2 year</li>
                        <li> nasa web developer 2 years</li>
                    </ul>
            </div>
        </section> 
           <section id="black-background" class="footer">
                <h2> contact ME </h2>
                <form>
                    <input type="text" placeholder="name">
                </form>
                <br>
                <form>
                    <input type="password" placeholder="password">
                </form>
                <br>
                <form>
                    <input type="text-area" placeholder="matn">
                </form>
                <br>
                <form>
                    <input type="text" placeholder="ezafe">
                </form>
                <br>
                <button id="button"> send </button>
           </section> 
        </main>
        <footer>
            <a href="http://www.telegram.org/"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium muirtl-1l05muc" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="TelegramIcon" style="width:50px;height:50px"><path d="M9.78 18.65l.28-4.23 7.68-6.92c.34-.31-.07-.46-.52-.19L7.74 13.3 3.64 12c-.88-.25-.89-.86.2-1.3l15.97-6.16c.73-.33 1.43.18 1.15 1.3l-2.72 12.81c-.19.91-.74 1.13-1.5.71L12.6 16.3l-1.99 1.93c-.23.23-.42.42-.83.42z"></path></svg> </a>
            <a href="https://www.instagram.com/"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium muirtl-1l05muc" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="InstagramIcon" style="width:50px;height:50px"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8 1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5 5 5 0 0 1-5 5 5 5 0 0 1-5-5 5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3z"></path></svg></a>
            <a href="http://www.twitter.com/"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium muirtl-1l05muc" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="TwitterIcon" style="width:50px;height:50px"><path d="M22.46 6c-.77.35-1.6.58-2.46.69.88-.53 1.56-1.37 1.88-2.38-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29 0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15 0 1.49.75 2.81 1.91 3.56-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07 4.28 4.28 0 0 0 4 2.98 8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21 16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56.84-.6 1.56-1.36 2.14-2.23z"></path></svg></a>
        </footer>
        <script src="./javascript.js"></script>
    </body>


</html>